{% extends "base.html" %}
{% load static %}  <!-- Load static files -->

{% block title %}Log-in{% endblock %}

{% block link %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="wrapper">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      
      <h2>Login</h2>

      <!-- Email Input Field -->
      <div class="input-field">
        {% if form.username.errors %}
          <ul class="error-list">
            {% for error in form.username.errors %}
              <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <input type="text" name="username" id="username" required value="{{ form.username.value|default_if_none:'' }}">
        <label for="username">Enter your email</label>
      </div>

      <!-- Password Input Field -->
      <div class="input-field">
        {% if form.password.errors %}
          <ul class="error-list">
            {% for error in form.password.errors %}
              <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <input type="password" name="password" id="password" required>
        <label for="password">Enter your password</label>
      </div>

      <!-- Global Errors (if any) -->
      {% if form.non_field_errors %}
        <div class="form-errors">
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <!-- Submit Button -->
      <div class="register">
        <a value="Log In">
          <button type="submit" class="register-button">Log-in</button>
        </a>
      </div>

      <!-- Remember Me and Forgot Password -->
      <div class="forget">
        <label for="forget" id="right">
          <a href="{% url 'password_reset' %}">Forgot password?</a>
        </label>
      </div>

      <!-- Register Link -->
      <div class="register">
        <a href="{% url 'register' %}">
          <button type="button" class="register-button">Registration</button>
        </a>
      </div>
    </form>
  </div>
{% endblock %}
