{% extends "base.html" %}
{% load static %}  <!-- Здесь мы подключаем тег static -->

{% block title %}Reset your password{% endblock %}

{% block link %}
  <link href="{% static 'css/password_reset_form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


  <div class="wrapper">
    <h1>Forget your password?</h1>
    <p>Enter your email address to receive a new password</p>

    <!-- Отображение ошибок, если они есть -->
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <!-- Email Input Field -->
        <div class="input-field">
            {% if form.email.errors %}
              <ul class="error-list">
                {% for error in form.email.errors %}
                  <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <input type="email" name="email" id="email" required value="{{ form.email.value|default_if_none:'' }}">
            <label for="email">Enter your email</label>
        </div>
        
        <!-- Кнопка отправки -->


        <div class="register">
            <a value="Send e-mail">
              <button type="submit" class="register-button">Send E-mail</button>
            </a>
          </div>

    </form>
  </div>
{% endblock %}
