{% extends "base.html" %}
{% load static %}  <!-- Здесь мы подключаем тег static -->

{% block title %}Reset your password{% endblock %}

{% block link %}
  <link href="{% static 'css/password_reset_done.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1>Reset your password</h1>
    <p>We have emailed you instructions for setting your password.</p>
    <p>If you haven't received the email, please make sure you entered the address you registered with.</p>

    <!-- Back to Log-in Page Button -->
    <div class="register">
      <a href="{% url 'login' %}">
        <button type="button" class="register-button">Back to Home Page</button>
      </a>
    </div>
  </div>
{% endblock %}
